<div class="barra-aux">
    <div id="acciones">
        <%= link_to 'Volver a página principal', '/' , :class => 'cancelar redondo-5 sombra-5' %>
    </div>
</div>

<div class="acerca_de">
    
    <h1>¿Qué es "amigos en apuros"?</h1>
    
        <div class="parrafo">
            <p>Es un servicio gratuito para que personas que aman a los animales puedan entre otras cosas:</p>
                        
            <p class="indentar">
                <b>+&nbsp;&nbsp;</b> 
                <i>Registrar</i> a perros y gatos que hayan encontrado en la calle y que temporalmente puedan resguardar en casa o en un albergue para su posterior adopción.
            </p>
            <p class="indentar">
                <b>+&nbsp;&nbsp;</b> 
                <i>Adoptar</i> un perro o un gato que no tenga una familia que le brinde cariño, casa y alimento.
            </p>
            <p class="indentar">
                <b>+&nbsp;&nbsp;</b> 
                <i>Reportar</i> el extravío de su perro o gato.
            </p>
        </div>
        
    <h1>¿Cuál es la razón de ser de "amigos en apuros"?</h1>
            <div class="parrafo">
                <p>El poder contribuir a que se escriban más historias de perritos y también de gatitos rescatados de la calle, así como también promover la adopción de mascotas antes que su compra. <br/><br/><b>Hay muchos perros y gatos allá fuera esperando darle la patita al primer ser humano que les de la mano.</b></p>
            </div>
            
    <h1>¿Cómo surge "amigos en apuros"?</h1>
        
        <div class="parrafo">
            <p>El 24 de diciembre de 2010 baje del camión en una parada cercana a mí casa alrededor de las 6 de la tarde. En esa parada hay un parque muy grande de donde apareció un perrito tipo <b>Golden Retriever</b>. Unas vecinas que aparecieron de la nada y que no conocía me convencieron de que era mí regalo navideño, así que lo lleve a mí casa a sabiendas de que era altamente probable el no ser bien recibido. Nunca he tenido un perro pues vivo con mí tío y no le gustan. Aunque guardaba algunas esperanzas de poder conservar al perrito, tan pronto entre a mí casa, tuve que salir e intentar buscar a sus dueños, nunca los encontramos por supuesto. Anocheció y no sabía que hacer con el, pues no lo iba a dejar a su suerte, no al menos ahora que lo veía tan triste y cansado. 
                <br/><br/>A pesar de que no pude darle asilo ni siquiera esa noche, una señora que pasaba fue a buscar a una vecina que ama a los perritos. Regreso y era una de las vecinas que encontré al principio. Mí vecina, Margarita contactó a Dario, un veterinario y vecino enamorado de los perritos maltratados por sus dueños y que generalmente son lanzados a la calle tan pronto dejan de ser cachorritos. Dario dió un espacio esa noche y días posteriores al <i>guero</i>.
                <br/><br/>
            Ésta historia terminó con un final feliz, ya que a mediados de enero del 2011 el perrito ya estaba siendo trasladado a Puebla donde lo acogería una familia. 
            
            A pesar de que la historia de la que fuí parte llego a buen término, hay muchas otras que no. Hay perritos menos afortunados a los que es difícil encontrarles una familia, por lo que pueden pasar meses en albergues. Hay otros que no correrán con la misma suerte. 
            
        </div>
    
    <h1>Consideraciones</h1>
        <div class="parrafo">
            <p>Este aplicación está en estado BETA, lo cual significa que se están aplicando mejoras y reparando posibles <i>bugs</i> regularmente. 
                Si encuentras un <i>bug</i> o si tienes alguna sugerencia o eres desarollador y quieres participar en el proyecto, mándame un correo a
                 <a href="mailto:amigosenapuros@mail.com">amigosenapuros@mail.com</a></p>
        </div>
        
        <br/>
</div>