<h1 class="bienvenida">en este sitio puedes ayudar a perros y gatos a encontrar un hogar</h1>
<h1 class="bienvenida-complemento">puede ser que uno de ellos encuentre su hogar contigo</h1>

<br /><br />
<div>
    <%= link_to 'Comenzar', animales_url, :class => 'comenzar redondo-5' %>
</div>
