<div class='usuarios-encabezado'>
    <h2>Otras acciones ...</h2>
</div>
<div id="acciones">
    <p>Administra las razas registradas en el sitio. Tanto para perros como para gatos
        <span id="acciones">
            <%= link_to 'Ir', razas_url, :class => 'redondo-3 sombra-5 ' %>
        </span>
    </p>
</div>