.todos-usuarios {
	height: auto;
	background-color: white;
	margin-top: 30px;
	padding-bottom: 15px;
}

.todos-usuarios #acciones {
	margin-top: 20px;
	padding: 20px;
}

.todos-usuarios .animales { margin: 25px 10px 10px 50px }

.todos-usuarios .animales .animalito {
	width: 250px;
}

.todos-usuarios .animales .detalles {
	margin-top: 10px;
	text-align: center;
}

.todos-usuarios .animales .detalles a:hover { font-style: italic }

.todos-usuarios div a:hover {
	text-decoration: none;
}

.acerca_de { background-color: white }
.acerca_de .parrafo { 
	background-color:#4DA0E3;
	background-color: rgba(77, 160, 227, 0.3);
	border: 2px solid #B4D3E3;
}