html { background-color: #422C21 }
body {
	text-align: center;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; text-decoration: none }
a:visited { color: #666; }
a:hover { color: #000; background-color:none; font-weight: bold }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: #007B54;
}

#alert {
  color: #7E1803;
}

.flash { 
	text-align: center; 
	font-weight: bold; 
	font-size: 16px;
	margin-top: 10px 
}

.field_with_errors {
  padding: 4px;
}

.field_with_errors input, .field_with_errors select, .field_with_errors textarea {
	background-color: #F09095;
}

#error_explanation {
  width: 450px;
  border: 2px solid #F05151;
	margin-left: auto;
	margin-right: auto;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #F09095;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #CC4043;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
	display: block;
	text-align: left;
}

.centrado-global {
	width: 75em;
	margin-left: auto;
	margin-right: auto;
}

#header {
 	padding: 10px 0 10px 10px;
 	height: 60px;
 	color: white;
}
#navigation {
 color: #333;
 padding: 10px 0 10px 10px;
 background: none;
}

#mensajes {
	padding: 5px;
}

#content { 
 color: #333;
 background: #F2F2E6;
 padding: 10px;
}

#footer { 
 clear: both;
 color: #999;
 background: #202020;
 padding: 10px;	
	height: 30px;
}

.sombra-25 {
	-moz-box-shadow:0 0 25px black;
	box-shadow:0 0 25px black;
	-webkit-box-shadow:0 0 25px black;
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1', MakeShadow='true', ShadowOpacity='0.30');
}

.sombra-5 {
	-moz-box-shadow:0 0 3px black;
	box-shadow:0 0 3px black;
	-webkit-box-shadow:0 0 3px black;
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1', MakeShadow='true', ShadowOpacity='0.30');
}

.sombra-25-no-top {
	-moz-box-shadow:0 5px 25px black;
	box-shadow:0 5px 25px black;
	-webkit-box-shadow:0 5px 25px black;
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1', MakeShadow='true', ShadowOpacity='0.30');
}

.redondo-15 {
	border-radius: 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-khtml-border-radius: 15px;
  
}

.redondo-10 {
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius: 10px;
}

.redondo-5 {
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
}

.redondo-3 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;  
}

li {
	display: inline;
	list-style: none;
	margin: 0 0 0 25px;
}

.two-fields {
	margin-top: 10px;
	padding: 20px;
}

.encabezado {
	color: #422C21;
	margin-left: 20px;
}

.encabezado h1 { 
	font-family: helvetica; 
	font-size: 30px;
}

input, textarea, select {  
	padding: 9px;  
	border: solid 1px #E5E5E5;  
	outline: 0;  
	font: normal 13px/100% Verdana, Tahoma, sans-serif;  
	background: #FFFFFF;  
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1', MakeShadow='true', ShadowOpacity='0.30');
}  
textarea {  
	width: 650px;  
	max-width: 650px;  
	height: 150px;  
	line-height: 150%;  
}  

input:hover, textarea:hover,  
input:focus, textarea:focus {  
	border-color: #C9C9C9;  
}  

label {  
	color: #999999;  
	text-align: left;
	font-size: 15px
}  
   
.submit {  
	width: auto;   
	font-size: 14px;  
	color: #FFFFFF;  
	border: none;
	background-color: #46819C;
  box-shadow: inset 0 1px 3px #42549A, inset 0 -5px 15px #126282, 0 2px 1px black;
  -o-box-shadow: inset 0 1px 3px #42549A, inset 0 -5px 15px #126282, 0 2px 1px black;
  -webkit-box-shadow: inset 0 1px 3px #42549A, inset 0 -5px 15px #126282, 0 2px 1px black;
  -moz-box-shadow: inset 0 1px 3px #42549A, inset 0 -5px 15px #126282, 0 2px 1px black;
  color: white;
  text-shadow: 0 1px 1px black;
  padding: 5px 30px;
}

.submit:hover {
	background-color: #5BA7CE;
}

.paginacion {
	margin-bottom: 30px;
}

.paginacion a {
	
}

.paginacion a:hover {
	text-decoration: underline;
	font-weight: normal;
}

.paginacion em {
	color: black;
	font-weight: bold;
}

.spinner {
	width: 20%;
	float:right;
}

#cargando {
	z-index: 1;
	position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
	width: 400px;
	height: 200px;
	background-color: black;
	background-color: rgba(0,0,0,0.9);
}

#cargando img {
	position:relative; 
	top: 50%;
}

#cargando p { 
	color: white;
	font-size: 20px;
	font-weight: bold;
}
