<div class="column fixed" style="width:70%">
    <div style="width: 100%">&nbsp;</div>
</div>
<div class="column fixed controles redondo-5" style="width:30%">
    <%= render 'fragmentos/controles' %>
</div>