<h2>Hola de nuevo <i><%= @usuario.nombre %></i></h2>

<p>Gracias por registrarte en Amigos en Apuros. Estamos seguros de que este servicio te será muy útil.</p>

<p>Tú cuenta ya está <b>activa</b> y puedes desde éste momento reportar un extravío de tú mascota 
    o una mascota que encontraste en la calle así como también adoptar una mascota que no tenga hogar</p>