<p>Hola <%= @usuario.nombre %> </p>

Gracias por formar parte de Animalitos: Un grupo de ciudadanos que trabaja por cuidar perros y gatos en situación de abandono. 

Tú cuenta está activa y puedes desde éste momento compartir perfiles de animalitos en busca de casa.