<h1>Modificando raza</h1>

<%= render 'form' %>

<div id="acciones">
    <%= link_to 'Mostrar', @raza, :class => "redondo-3 sombra-5" %>
    <%= link_to 'Atrás', razas_path, :class => "redondo-3 sombra-5" %>
</div>
<br/>