<p>¡Bienvenido a Animales en Apuros!</p>

<p><i><%= @resource.nombre %></i> puedes confirmar tú cuenta siguiendo la liga que aparece abajo:</p>

<%= link_to 'Confirmar cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
