<p>Hola <%= @resource.nombre %>!</p>

<p>Has solicitado cambiar la contraseña de tú cuenta. Sigue la liga que aparece abajo para cambiarla</p>

<p>
    <%= link_to 'Cambiar contraseña', 
                edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
</p>

<p>Si no fuiste tú, por favor ignora este correo.</p>
<p>Tú contraseña no cambiará a menos de que sigas el link que aparece arriba y esta sea guardada por el sistema.</p>
