<p>¡Hola <%= @resource.nombre %>!</p>

<p>Tu cuenta ha sido bloqueda debido a un número excesivo de intentos para iniciar sesión</p>

<p>Sige la liga que aparece a continuación para desbloquear tú cuenta:</p>

<p><%= link_to 'Desbloquear mí cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
