<div class="marco redondo-10 sombra-5 foto-principal" style="width: 175px; height: 175px">
    <%= render :partial => 'fotos/tamanos/thumb', :locals => {:animal => @animal} %>
</div>
<br/>
<div id="acciones">
    <%= link_to 'Ver más fotos', '#', :class => 'redondo-3 sombra-5 control', :id => 'ver-mas-fotos' %>             
</div>