<div id="foto_<%= foto.id %>" class="marco redondo-10 sombra-5 <%= es_foto_principal_de?(@animal, foto) ? 'foto-principal' :  ''%> foto">
    <%= render :partial => 'fotos/tamanos/thumbje', :locals => {:foto => foto} %>
    <% if can? :manage, @animal %>
        <%= render :partial => 'fotos/animales_foto_controles', :locals => {:foto => foto} %>
    <% end %>
</div>