<%= remotipart_response do %>
	<% if @foto.errors.empty? %>
		<% if @animal && es_foto_principal_de?(@animal, @foto) %>
			$('.animales').children(".foto-principal").removeClass('foto-principal');
			$('.foto-principal').html("<%= escape_javascript render(:partial => 'fotos/tamanos/thumb', :locals => {:animal => @animal}) %>");
		<% end %>
		$('#formulario-foto').fadeOut();
		$('.animales').append("<%= escape_javascript render(:partial => 'fotos/animal_foto', :locals => {:foto => @foto}) %>");
		$('span#fotos #acciones .mensaje').html("<p id='notice'>Foto añadida exitósamente</p>");
		$('span#fotos #acciones #notice').delay(2000).fadeOut(2500);
		$('#formulario-foto .errors').empty();
		$('#new_foto').resetForm();
	<% else %>	
		$('#formulario-foto .errors').html("<%= escape_javascript render('foto_error') %>");
		$('#formulario-foto .errors').fadeIn();
	<% end %>
<% end %>
