<% if @animales.size > 0 %>
    <div class="centrado bloque animales">
        <% @animales.each do |animal| %>
            <div class="animal">
                <%= render animal %>
            </div>
        <% end %>
    </div>
    
    <div class="paginacion unit on-2 columns">
        <div class="column fixed" style="width: 50%">
            <%= render 'animales_paginacion' %>
        </div>
        <div class="column fixed der" style="font-style: italic; width: 50%">
            <%= raw page_entries_info(@animales, :entry_name => 'animalito') %> 
        </div>
    </div>
<% else %>
    <div class="centrado">
        <% if @parametros %>
            <p>Lo siento. No se encontraron animalitos con los datos proporcionados</p>
            <% if !@parametros["extraviado"].blank? %>
                <p>Te invitamos a registrar tú mascota como extraviada</p>
                <br/>
                <div id="acciones">
                    <%= link_to 'Registrar', new_animal_url, :class => 'redondo-5 sombra-5' %>
                </div>
            <% end %>
        <% else %>
            <p>No hay amigos en apuros que mostrar</p>
        <% end %>
    </div>
    
    <br/>
<% end %>