<div class="bloque-bio">
    <p class="nombre izq"><%= @animal.nombre %></p>
    <p class="bio izq"><%= @animal.tipo_de_mascota %> <%= @animal.raza.nombre %></p>
    <p class="estado izq"><%= @animal.en_casa_humanize %></p>
</div>